* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, rgba(208, 227, 231, 1), white) no-repeat;

}

.navbar {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    height: 78px;
    align-items: center;
    padding: 30px 82px 30px 82px;
    margin-top: 31px;
}

.navbar .title {
    color: #3E5883;
    font-family: Arial, sans-serif;;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 1px;
}

.navbar .back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: 128px;
    background: #3E5882;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.login {
    color: #ffffff;
    text-decoration: none;

}

.home_link {
    text-decoration: none;
    color: #3E5883;

}

.image {
    width: 100%;
    height: 10%;

}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 145px;
}

.article {
    width: 30%;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;

}

.article h2 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.article p {
    font-weight: bold;
    font-size: 20px;
    text-align: justify;
}

.content h2 {
    text-align: center;
    margin-bottom: 21px;
    margin-top: 21px;

}

.footer_content p {
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
}

.footer_image {
    width: 30px;
    height: 30px;
}

.footer_info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 13px;

}


.footer_adress p {
    margin: 10px;
}

.footer_info p {
    margin: 10px;
}

.footer_content {
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
    padding: 0 10px 35px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #3E5882;

}

.footer_information {
    display: flex;
    flex-direction: column;
}

.login_form {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.login-container {
    width: 681px;
    height: 376px;
    background-color: rgba(62, 88, 130, 0.18);
    padding: 50px 100px 0 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 24px;
}

.login-container input {
    width: 475px;
    padding: 10px;
    margin-bottom: 10px;
}

.login-container button {
    background: #3E5882;
    height: 54px;
    width: 132px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 10px 0;
    cursor: pointer;
}

.login_form h1 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 30px;
}

.login_text {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.login_input {
    height: 54px;
    width: 475px;

}

input[type=text]::placeholder {
    font-weight: bold;
    font-size: 20px;
    color: #AEAEAE;

}

input[type=password]::placeholder {
    font-weight: bold;
    font-size: 20px;
    color: #AEAEAE;

}

.log {
    margin-bottom: 20px;
}

.error_message {
    color: rgba(189, 10, 0, 0.36);
}


.add_employee_container {
    width: 681px;
    background-color: rgba(62, 88, 130, 0.18);
    padding: 50px 100px 0 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;

}

.add_employee_container input {
    width: 475px;
    padding: 10px;
    margin-bottom: 10px;

}

.add_employee_container button {
    background: #3E5882;
    height: 54px;
    width: 132px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 20px 0;
    cursor: pointer;
}

.add_employee input {
    padding: 10px;
    margin-bottom: 10px;

}

.add_employee button {
    background: #3E5882;
    height: 54px;
    width: 132px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 20px 0;
    cursor: pointer;
}

.title_add {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}


.department_structure {
    height: 54px;
    width: 350px;
    font-size: 18px;
    background-color: #FFFFFF;
    margin: 10px 30px 10px 30px;
    padding: 10px 30px 10px 30px;
    font-weight: bold;
}


.employee_dropdown button {
    background: #3E5882;
    height: 54px;
    width: 132px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin: 10px 30px 10px 30px;
    padding: 10px 30px 10px 30px;
}

.employee_dropdown {
    display: flex;
    justify-content: space-between;
    padding: 35px;
    align-items: center;
}

.employee_link {
    text-decoration: none;
    color: #3E5882;
    font-weight: bold;
    font-size: 20px;
}


.add_department {
    border-bottom: solid 1px #3E5882;
    height: 35px;
}

.add {
    display: flex;
    gap: 200px;
    align-items: center;
    margin: 0 30px 0 70px;
    cursor: pointer;


}

.line_counting {
    border-bottom: solid 1px #3E5882;
    width: 40px;
    margin-left: 13px;
}

.text_counting {
    margin-left: 70px;
    color: #3E5882;
    font-weight: bold;
    font-size: 20px;
}

.counting {
    display: flex;
    gap: 2px;

}

.counting input {
    width: 30px;
    height: 30px;
    margin-left: 13px;
}

.employee_form {
    margin-left: 70px;
}

.content_form {
    background-color: rgba(62, 88, 130, 0.18);
    padding: 27px 27px 27px 27px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 100px;
    margin-top: 15px;

}

.line_information {
    border-bottom: solid 1px #3E5882;
    width: 236px;
}

.information_form_employee h2 {
    font-weight: bold;
    font-size: 20px;
}

.department_form_employee h2 {
    font-weight: bold;
    font-size: 20px;
}

.text_information {
    font-weight: bold;
    font-size: 15px;
    margin-top: 3px;
    color: #3E5882;
}

.button_department_form button {
    background: #3E5882;
    height: 54px;
    width: 132px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 10px 30px 10px 30px;
    text-decoration: underline;

}

.new_employee_form h1 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 30px;
}

.new_employee_form p {
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.new_employee_form {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add_employee {
    width: 1000px;
    height: 1000px;
    background-color: rgba(62, 88, 130, 0.18);
    padding: 50px 100px 0 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;

}

.add_employee input {
    padding: 10px;
    margin-bottom: 10px;

}

.add_employee button {
    background: #3E5882;
    height: 54px;
    width: 132px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 20px 0;
    cursor: pointer;
}


.new_employee_department_structure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 475px;
    height: 54px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.gender {
    width: 475px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}

.gender_info {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}


.add_departmen {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.add_departmen_container {
    width: 681px;
    height: 376px;
    background-color: rgba(62, 88, 130, 0.18);
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.add_departmen_container h1 {
    text-align: center;
    margin-bottom: 24px;
}

.add_departmen_container input {
    width: 475px;
    padding: 10px;
    margin-bottom: 10px;
}

.add_departmen_container button {
    background: #3E5882;
    height: 54px;
    width: 132px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0 10px 0;
    cursor: pointer;
}

.add_departmen_form h1 {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 30px;
}

.login_text {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.login_input {
    height: 54px;
    width: 475px;

}

.back_edit {

}


.employee_container input {
    padding: 10px;
    margin-bottom: 10px;

}


.login_department {

    color: #ffffff;
    text-decoration: none;
    font-size: 15px;

}
.edit_employee{
    width: 681px;
    background-color: rgba(62, 88, 130, 0.18);
    padding: 50px 100px 0 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;

}
.edit_employee_button {
    background: #3E5882;
    height: 54px;
    width: 132px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    margin: 20px 0 20px 0;
    cursor: pointer;

}

.employer_link{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black;
    align-items: center;

}

.nav_link{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}